#bob {
    text-align: center;
    color: blue;
}
#k {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdJoOg_wL5OtUdEoKf-I67Tr7XAbfWhT8kQ6-l8Ur1Hm_CrSfZtg");
    background-repeat: no-repeat;
    background-size: cover;
}

.jeff {
    color:blue;
}

